{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1>Ссылка уже была использована</h1>
        <p class="lead">Простите, эта ссылка для оценки уже была использована ранее. Если необходимо, можете запросить другую ссылку, написав нам в любой мессенджер или позвонив по телефону.</p>
        <p>Такой механизм работы оценки разработан для объективной оценки врачей и клиники, во избежание накруток.</p>
    </div>
</div>
{% endblock %}