{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1>Спасибо за оценку!</h1>
        <p class="lead">Обычно люди не находят времени оставить отзыв, если им все понравилось.
             А вы нашли. Мы это очень ценим! Ваш положительный опыт может помочь другим людям сделать правильный выбор. 
             Пожалуйста, поделитесь своим мнением на одной из удобных для вас площадок. Это займет всего пару минут.</p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <!-- Замените # на реальные ссылки на ваши страницы -->
            <a href="https://yandex.ru/profile/1728157335" class="btn btn-outline-primary btn-lg px-4 gap-3" target="_blank">Яндекс Карты</a>
            <a href="https://g.page/r/CYcM49mGUpA6EBM/review" class="btn btn-outline-primary btn-lg px-4 gap-3" target="_blank">Google Карты</a>
            <a href="https://2gis.ru/spb/firm/70000001023211512/tab/reviews/addreview" class="btn btn-outline-primary btn-lg px-4 gap-3" target="_blank">2ГИС</a>
            <a href="https://prodoctorov.ru/spb/lpu/44867-centr-mikrohirurgii-glaza-ya-vizhu/otzivi/" class="btn btn-outline-primary btn-lg px-4 gap-3" target="_blank">ПроДокторов</a>
            <a href="https://spb.napopravku.ru/clinics/ya-vizhu-tsentr-mikrokhirurgii-glaza/otzyvy/" class="btn btn-outline-primary btn-lg px-4 gap-3" target="_blank">НаПоправку</a>
            
        </div>

        <p class="mt-4 text-muted">Спасибо за ваше время!</p>
    </div>
</div>
{% endblock %}